div{
  display: block;
}

body {
  background-color: white;
}

a{
  color: white;
  text-decoration: none;
}

.barrasup {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  display: block;
  width: 100%;
  background: #111;
  border-radius: 0;
  border: 0;
  z-index: 5000;
  margin: 0;
}
.facebook{
  position: absolute;
  width: 0%;
  height: 0%;
  top:0%;
  left: 0%;
}
.home {
  font-family: 'Dancing Script',cursive;
  src: url(Palace Script MT.eot);
  src: local('Palace Script MT'), url('Palace Script MT.ttf') format('truetype');
  font-size: 250%;
  color: white;
  float: left;
  margin-right: 0;
  margin-left: 10%;
  margin-top:1%;
}

.galleria {
  position: fixed;
  font-family: 'Dancing Script',cursive;
  color: white;
  text-align:center;
  font-size: 25px;
  float: left;
  position: absolute;
  margin-top: 25px;
  margin-left: 80%;
}

.linkgalleria {
color: white;
}

.storia{
  position: fixed;
  font-family: 'Dancing Script',cursive;
  color: white;
  text-align:center;
  font-size: 25px;
  float: left;
  position: absolute;
  margin-top: 25px;
  margin-left: 73%;
}

.linkstoria{
  color: white;
}


.barrainf {
  position: absolute;
  background: white;
  height: 500px;
  width: 50%;
  top: 1340px;
  left: 50%;
  transform: translate(-50%,0%);
  bottom: 0%;
  border: 0%;

}


#contattaci{
  position: absolute;
  font-family: 'Dancing Script',cursive;
  src: url(Palace Script MT.eot);
  src: local('Palace Script MT'), url('Palace Script MT.ttf') format('truetype');
  color: black;
  font-size: 55px;
  top:125px;
  left: 50%;
  transform: translate(-50%,-50%);
}

#lineacontatti{
  position: absolute;
  top:190px;
  align:center;
  transform: translate(-50%,0%);
  left: 50%;
  height: 60px;
  width: 550px;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}


#foto{
  position: absolute;
  top:430px;
  left:50%;
  transform: translate(-50%,-50%);
}

.laura{
  position: absolute;
  font-family: 'Libre Baskerville';
  color: black;
  font-size: 20px;
  top:600px;
  left: 50%;
  transform: translate(-50%,0%);
  text-align: center;
}

#lineapres{
  position: absolute;
  top:1235px;
  left:50%;
  transform: translate(-50%,-50%);
  width: 55%;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

#facebook{
  position: absolute;
  top:0px;
  left: 30%;
}
#facebook:hover{
  position: absolute;
  top:-7px;
  left: 30%;
}
.fb{
  position: absolute;
  font-family: 'Dancing Script',cursive;
  src: url(Palace Script MT.eot);
  src: local('Palace Script MT'), url('Palace Script MT.ttf') format('truetype');
  color: black;
  font-size: 30px;
  top:-15px;
  left: 50%;
}
#insta{
  position: absolute;
  top:150px;
  left: 30%;
  width: 68px;
}
#insta:hover{
  position: absolute;
  top:143px;
  left: 30%;
}
.inst{
  position: absolute;
  font-family: 'Dancing Script',cursive;
  src: url(Palace Script MT.eot);
  src: local('Palace Script MT'), url('Palace Script MT.ttf') format('truetype');
  color: black;
  font-size: 30px;
  top:135px;
  left: 50%;
}
#mail{
  position: absolute;
  top:300px;
  left: 29%;
}
.em{
  position: absolute;
  font-family: 'Dancing Script',cursive;
  src: url(Palace Script MT.eot);
  src: local('Palace Script MT'), url('Palace Script MT.ttf') format('truetype');
  color: black;
  font-size: 30px;
  top:285px;
  left: 50%;
}
