div{
  display: block;
}

body {
  background-color: white;
}

a{
  text-decoration: none;
}

.barrasup {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  display: block;
  width: 100%;
  background: #111;
  border-radius: 0;
  border: 0;
  z-index: 5000;
  margin: 0;
}

.home {
  font-family: 'Dancing Script',cursive;
  src: url(Palace Script MT.eot);
  src: local('Palace Script MT'), url('Palace Script MT.ttf') format('truetype');
  font-size: 250%;
  color: white;
  float: left;
  margin-right: 0;
  margin-left: 15%;
  margin-top:1%;
}

.galleria {
  position: fixed;
  font-family: 'Dancing Script',cursive;
  color: white;
  text-align:center;
  font-size: 25px;
  float: left;
  position: absolute;
  margin-top: 25px;
  margin-left: 65%;
}

.linkgalleria {
color: white;
}

.contattaci {
  position:fixed;
  font-family: 'Dancing Script',cursive;
  src: url(Palace Script MT.eot);
  src: local('Palace Script MT'), url('Palace Script MT.ttf') format('truetype');
  color: white;
  text-align:center;
  font-size: 25px;
  position: absolute;
  margin-top: 25px;
  margin-left: 72.5%;
}

.facebook {
  height: 28px;
  position: absolute;
  margin-top: 27px;
  margin-left: 53.7%;
}

.facebook:hover {
  margin-top: 22.5px;
  margin-left: 53.7%;
  height: 29px;
  transition: 0.1s;
}

.instagram {
  height: 30px;
  position: absolute;
  margin-top: 26px;
  margin-left: 56.5%;
}

.instagram:hover {
  height: 31px;
  margin-top: 21.5px;
  margin-left: 56.5%;
  transition: 0.1s;
}

.mail {
  height: 30.5px;
  position: absolute;
  margin-top: 26.5px;
  margin-left: 59.4%;
}

.mail:hover {
  height: 31px;
  margin-top: 21px;
  margin-left: 59.4%;
  transition: 0.1s;
}

.barrainf {
  position: absolute;
  background: #111;
  height: 200px;
  width: 100%;
  top: 2500px;
  left: 0%;
  bottom: 0%;
  border: 0%;

}

#immaginifondo {
  top:10px;
  left: 60%;
}

.finecontatti {
  font-family: 'Dancing Script',cursive;
  font-size: 30px;
  color: white;
  text-align: center;
  margin-top: 35px;
}

.facebookfondo {
  position: absolute;
  height: 131px;
  top: 60px;
  left: 29.8%;
}

.facebookfondo:hover {
  position: absolute;
  height: 135px;
  top: 56px;
  left: 29.7%;
}

.fb {
  font-family: 'Dancing Script',cursive;
  font-size: 20px;
  color: white;
  margin-top: 60px;
  margin-left: 31.5%;
}

.istafondo {
  position: absolute;
  height: 36px;
  top: 92px;
  margin-left: 48.8%;
}

.istafondo:hover {
  position: absolute;
  height: 39px;
  top: 88px;
  margin-left: 48.7%;
}

.insta {
  font-family: 'Dancing Script',cursive;
  position: absolute;
  font-size: 20px;
  color: white;
  margin-top: -25px;
  margin-left: 47.3%;
}

.mailfondo {
  position: absolute;
  height: 132px;
  top: 63px;
  right: 32%;
}


.email {
  font-family: 'Dancing Script',cursive;
  font-size: 20px;
  position: absolute;
  color: white;
  top: 130px;
  right: 28%;
}


 #h1 {
  position: absolute;
  font-family: 'Dancing Script',cursive;
  font-size: 125px;
  top: 130px;
  transform: translate(-50%,0%);
  left: 50%;
  color: black;
}

h2 {
  position: absolute;
  font-family: 'Libre Baskerville';
  font-style: italic;
  top: 320px;
  transform: translate(-50%,0%);
  left: 50%;
  font-size: 25px;
  text-align: center;
  color: black;
}

h3 {
  position: absolute;
  font-family: 'Libre Baskerville';
  font-style: italic;
  top: 360px;
  transform: translate(-50%,0%);
  left: 50%;
  font-size: 25px;
  text-align: center;
  color: black;
}

.img3 {
  background-image: url(img/imm2.jpg);
  background-position: center center;
  position: absolute;
  top: 80px;
  left: 0%;
  height: 600px;
  width: 100%;
}

#scorrigiu {
  position: absolute;
  height: 110px;
  top:620px;
  transform: translate(-50%,0%);
  left: 50%;
}


.bottstoria {
    background-color: black;
    color: white;
    padding: 15px;
    font-family:'Dancing Script',cursive;
    font-size: 25px;
    border: none;
    cursor: pointer;
}

.tendina {
  display: block;
 position: absolute;
 top:1150px;
 left: 350px;
}

.nomi {
    display: none;
    position: absolute;
    background-color: #D8D8D8;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.nomi a {
    font-family: 'Libre Baskerville';
    font-style: italic;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.tendina a:hover {background-color: grey;}

.tendina:hover .nomi {
    display:inline;
}

.contenitore {
  position:absolute;
   width: 250px;
   height: 350px;
   top:790px;
   left:350px;
}

.w3-button:hover {
    color: #000 !important;
    background-color: #ccc !important;
}
.w3-display-left {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    -ms-transform: translate(-0%,-50%);
}

.w3-display-right{
  position: absolute;
  top: 45%;
  left: 85%;
}


.w3-btn, .w3-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}


#bottonesinistra{
  position: absolute;
  left:80px;
}

#bottonedestra{
  position: absolute;
  left:160px;
}


#paragrafo1{
  font-family: 'Libre Baskerville';
  font-size: 21px;
  position: absolute;
  top: 1380px;
  text-align: center;
  left: 260px;
  right: 260px;
}

#vita1 {

}
