h1{
  text-align:center;
  font-family: 'Palace Script MT';
   src: url(Palace Script MT.eot);
   src: local('Palace Script MT'), url('Palace Script MT.ttf') format('truetype');
   font-size:100px;
   line-height:250px;
}

.consiglio{
  color: black;
  font-family: 'Baskerville Old Face';
  font-size:20px;
  text-align:center;
  border: 1px solid white;
  height: 90px;
  width: 370px;
  margin-left: 525px;
  line-height: 50px;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  width:800px;
  background-color: white
}
