h1{
  text-align:center;
  font-family: 'Palace Script MT';
   src: url(Palace Script MT.eot);
   src: local('Palace Script MT'), url('Palace Script MT.ttf') format('truetype');
   font-size:100px;
   line-height:250px;
}

.consiglio{
  color: white;
  font-family: 'Baskerville Old Face';
  font-size:20px;
  text-align:center;
  border: 1px solid #FFE0E6;
  line-height: 50px;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  width:370px;
  background-color: #FF9FA9;
}

img{
  height:25vh;
  width:460px;
  height:440px;
  overflow:hidden;
  border: 1px solid #FFE0E6;
  padding: 10px;
}

#laura{
  margin: 0px;
  background-image: url('laura.jpg');
  background-repeat: no-repeat;
  color: #FFFFFF;
  font-size: 140%;
  font-weight: normal;
  line-height: 260px;
  text-align: center;
  width: 1000px;
  height: 1000px;
}
